// Hero Component
// ===


// Hero Variables
// ---

$front-size: 782px;


// Hero Container
// ---

.hero {
    z-index: -($z1-depth);

    pointer-events: none;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z1-depth;

        background: linear-gradient(rgba($black, 0), rgba($black, 1));
    }

    > div {
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;

        backface-visibility: hidden;
    }
}


// Hero Layers
// ---

.hero__back--static,
.hero__front {
    transform-origin: 50% 60px;

    transition: transform 0.5s, opacity 0.5s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.hero__back--static {
    .js-move-items & {
        opacity: 0;

        transform: scale3d(0.15, 0.15, 1);
    }
}

.hero__back--mover {
    opacity: 0.75;

    transition: transform 0.4s, opacity 0s 0.5s;

    .js-move-items & {
        opacity: 0;

        transition-delay: 0s;
    }
}

.hero__front {
    width: $front-size;
    height: $front-size;
    margin: 0 0 0 (-($front-size / 2));

    opacity: 0;

    .js-move-items & {
        opacity: 0.25;

        transform: scale3d(0.15, 0.15, 1);

        transition-duration: 0.5s, 0s;
    }
}

.hero__overlay {
    transition: opacity 0.25s;

    .js-move-items & {
        opacity: 0;
    }
}
