// Stack Component
// ===

.stack {
    width: 45%;
    min-width: 300px;

    &.is-selected {
        height: auto;
    }

    &.stack-prev,
    &.stack-next {
        transition: transform 0.5s, opacity 0.5s;
        transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);

        .js-move-items & {
            opacity: 0;
        }
    }
}

.js-move-items .stack.stack-prev {
    transform: translate3d(-70px, 65vh, 0);
}

.js-move-items .stack.stack-next {
    transform: translate3d(70px, 65vh, 0);
}

.stack.is-selected .stack-title::before,
.stack.stack-prev .stack-title::after,
.stack.stack-next .stack-title::after {
    content: '';

    position: absolute;
    z-index: 100;

    width: 30px;
    height: 30px;

    opacity: 0;
}

.stack.is-selected .stack-title::before {
    top: 10px;
    left: 50%;

    margin: 0 0 0 -15px;

    background: url('../img/arrow-colored.svg') no-repeat center center;

    transition: transform 0.5s, opacity 0.3s;
    transition-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

.item-clickable .stack.is-selected .stack-title::before {
    opacity: 1;
}

.js-move-items .is-selected .stack-title::before {
    transform: rotate3d(0, 0, 1, 180deg);
}

.stack.stack-prev .stack-title::after,
.stack.stack-next .stack-title::after {
    content: '';

    top: 50%;

    background: url('../img/arrow-colored.svg') no-repeat center center;
}

.stack.stack-prev .stack-title::after {
    right: 0;

    transform: rotate3d(0, 0, 1, -90deg);
}

.stack.stack-next .stack-title::after {
    left: 0;

    transform: rotate3d(0, 0, 1, 90deg);
}

.stack.stack-prev .stack-title:hover::after,
.stack.stack-next .stack-title:hover::after {
    opacity: 1;
}

.stack-title {
    margin-top: $unit*5;
    margin-bottom: $unit*3;
    padding-top: $unit*3;
    padding-right: $unit*3;
    padding-left: $unit*3;

    font-size: 2.25em;

    cursor: pointer;

    a {
        color: $white;

        backface-visibility: hidden;

        &:hover {
            color: $white;
        }

        &::before,
        span {
            transition: all 1s 0.15s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }

        &::before {
            content: attr(data-text);

            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            height: 100%;

            opacity: 0;

            font-size: 0.5em;
            line-height: 2.5;

            transform: translate3d(0, 100%, 0);

            pointer-events: none;

            .js-move-items .is-selected & {
                opacity: 1;

                transform: translate3d(0, 0, 0);
            }
        }

        span {
            color: $pink;

            backface-visibility: hidden;

            cursor: pointer;

            .js-move-items .is-selected & {
                opacity: 0;

                transform: translate3d(0, -150%, 0);
            }
        }
    }
}


@media screen and (max-width: 65em) {
    .stack {
        width: 60%;
    }
}

@media screen and (max-width: 45em) {
    .stack-title {
        font-size: 1.75em;
    }

    .stack.stack-prev .stack-title::after,
    .stack.stack-next .stack-title::after {
        top: 1.85em;
    }
}
