include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'ex-you-cant-escape--part-2.jpg', 
        'Part II', 
        '20 Jul 2015', 
        'Episode 2', 
        'In Part 2, Zooey has an even harder time escaping her ex boyfriend. Luckily Tiffany is there to help! What a great friend.',
        'https://youtu.be/FETP27j_cvU')

    +media(
        'ex-you-cant-escape--part-1.jpg', 
        'Part I', 
        '15 June 2015', 
        'Episode 1', 
        'Have you ever experienced a breakup — and you just can’t get away from your ex? Zooey certainly has…',
        'https://youtu.be/FETP27j_cvU')
