include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'how-to-make-bitchpop.jpg', 
        '', 
        '24 Mar 2017', 
        'Sketch', 
        '',
        'https://youtu.be/oSeait2CWJQ')
