include /includes/components/_icon

footer.t-footer.u-context.u-pattern.u-gradient.u-text-center.u-text-shadow-thin(role='contentinfo')

    div.t-footer__inner.u-context.u-z2

            div.u-flexbox.u-flex-column--small-only.u-justify-around.u-padding-top-huge.u-margin-bottom
                div.u-padding-start.u-padding-end.u-margin-bottom
                    h5.u-margin-bottom.u-text-uppercase Discover Bitchpop
                    ul.content
                        li.u-margin-bottom
                            a(href='/') Home
                        li.u-margin-bottom
                            a(href='/about') What Is Bitchpop?
                        li.u-margin-bottom
                            a(href='/press') In The Press
                        li
                            a(href='/pitch') Pitch Your Concept
                div.u-padding-start.u-padding-end.u-margin-bottom
                    h5.u-margin-bottom.u-text-uppercase Get in touch
                    ul.content
                        li.u-margin-bottom
                            a(href='mailto:hello@bitchpopproductions.com') hello@bitchpopproductions.com
                        li.u-margin-bottom.u-half-transparent —
                        li
                            a(href='https://goo.gl/maps/kpQHm')
                                address
                                    span.u-block.u-margin-bottom 1068 Hornby Street
                                    span Vancouver, Canada
                div.u-padding-start.u-padding-end.u-margin-bottom
                    h5.u-margin-bottom.u-text-uppercase Connect
                    ul.content.social.links
                        li.u-margin-bottom
                            a.u-flexbox.u-align-middle.u-justify-middle(target='_blank', href='https://youtube.com/BitchpopProductions')
                                +icon('youtube')
                                span.u-inline-block.u-padding-start YouTube
                        li.u-margin-bottom
                            a.u-flexbox.u-align-middle.u-justify-middle(target='_blank', href='https://facebook.com/B.TCHPOPproductions')
                                +icon('facebook')
                                span.u-inline-block.u-padding-start Facebook
                        li.u-margin-bottom
                            a.u-flexbox.u-align-middle.u-justify-middle(target='_blank', href='https://twitter.com/WatchBitchpop')
                                +icon('twitter')
                                span.u-inline-block.u-padding-start Twitter
                        li
                            a.u-flexbox.u-align-middle.u-justify-middle(target='_blank', href='https://instagram.com/BitchpopProductions')
                                +icon('instagram')
                                span.u-inline-block.u-padding-start Instagram

            div.u-padding.u-slightly-transparent.u-text-size-small
                p
                    | Copyright © 2015–
                    script document.write(new Date().getFullYear()) 
                    |  Bitchpop Productions. All Rights Reserved. 
                    a(href='http://house-house.design', target='_blank') Site by House House Design
                    | .

a.u-block.u-margin-top.u-padding.u-bg-white.u-black.u-text-center(href='mailto:hello@bitchpopproductions.com')
    | This site is still in development; If something looks wrong or broken, please let us know →

script.
    document.getElementById('js-nav-toggle').onclick = function(){
        document.getElementsByClassName('t-nav')[0].classList.toggle('t--open');
    }
