header.t-header.u-fixed.u-t-0.u-l-0.u-r-0.u-z4.u-padding.u-flexbox.u-align-middle

    .u-flex
        h1.u-text-size-normal Bitchpop Productions

    .u-flex-shrink

        nav#primary-nav.menu.u-bold.u-flexbox(role='navigation')

            a.menu__item.u-block.u-clip(href='#')
                span.u-block.u-padding Watch
            a.menu__item.u-block.u-clip(href='#')
                span.u-block.u-padding About
            a.menu__item.u-block.u-clip(href='#')
                span.u-block.u-padding Contact
