include /includes/components/_icon

header.t-header.u-context.u-position--small-up.u-t0.u-l0.u-r0.u-z4.u-bg-white.u-box-shadow-thin.u-clip

    div.u-flexbox--medium-up.u-align-middle

        div.u-flex--medium-up
            div.u-flexbox--small-only.u-align-middle
                a.t-header__logo.u-inline-block.u-padding.u-flex.u-black(href='/')
                    svg.u-inline-block
                        use(xlink:href='#icon-bitchpop')
                    span.u-text-clip Bitchpop Productions
                a.u-inline-block.u-padding.u-flex-shrink.u-hide--small-up.u-text-center#js-nav-toggle(href='#')
                    +icon('menu')
                    span.u-block.u-text-size-small.u-text-uppercase(style='padding-top:0.5rem;') Menu

        div.u-flex-shrink--medium-up
            != partial('_nav')
