div.hero.u-position.u-t-0.u-l-0.u-clip.u-full-width.u-full-vh.a-fade-in--mid-forwards
    div.hero__back.hero__back--static.u-position.u-full-width.u-full-height
    div.hero__back.hero__back--mover.u-position.u-full-width.u-full-height
    div.hero__front.u-position.u-t-0.u-l-50p.u-circle
    img.hero__overlay.u-fixed.u-center.u-z2.u-full-width.u-bleed-top.u-half-transparent(src='assets/img/logo.png')
