include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'deadbeat-daddies.jpg', 
        '', 
        '18 Feb 2016', 
        'Sketch', 
        '',
        'https://youtu.be/c-Ykse_3Rv8')
