// Utilities: Appearance
// ---


// Shape
// ---

.u-circle {
    border-radius: 100%;
}

.u-rounded {
    border-radius: $border-radius;
}


// Opacity
// ---

.u-slightly-transparent {
    opacity: 0.8;
}

.u-half-transparent {
    opacity: 0.5;
}

.u-very-transparent {
    opacity: 0.3;
}


// Shadow
// ---

.u-box-shadow-thick {
    box-shadow: 0 0 1em rgba($black, 0.75);
}

.u-box-shadow-thin {
    box-shadow: 0 0.1em 0.15em rgba($black, 0.25);
}


// Bleed
// --

.u-bleed {
    &-top {
        margin-top: -$unit;

        @include --small-up {
            &--small-up {
                margin-top: -$unit;
            }
        }
    }

    &-bottom {
        margin-bottom: -$unit;

        @include --small-up {
            &--small-up {
                margin-bottom: -$unit;
            }
        }
    }

    &-start {
        margin-left: -$unit;

        @include --small-up {
            &--small-up {
                margin-left: -$unit;
            }
        }
    }

    &-end {
        margin-right: -$unit;

        @include --small-up {
            &--small-up {
                margin-right: -$unit;
            }
        }
    }
}


// Blur
// ---

.u-blur {
    filter: blur($unit);
}


// Textures, Gradients, Patterns
// ---

.u-gradient,
.u-pattern {
    &::before,
    &::after {
        @extend %x-cover;

        content: '';

        position: absolute;

        pointer-events: none;
    }
}

.u-gradient {
    &::after {
        background: linear-gradient(to bottom, rgba($black, 0), rgba($black, 0), rgba($black, 1));
    }
}

.u-pattern {
    &::before {
        opacity: 0.25;
        background-image: url('../img/bg-geometry.png');
        background-position: top center;
        background-size: 25em;
    }
}
