// Utilities: Border
// ===

.u-border-black {
    border: 1px solid $black;
}

.u-border-white {
    border: 1px solid $white;
}

.u-border-pink {
    border: 1px solid $pink;
}


// Specific Borders
// ===

.u-border-grey-top {
    border-top: 1px solid rgba($black, 0.05);

    @include --small-only {
        &--small-only {
            border-top: 1px solid rgba($black, 0.05);
        }
    }
}
