// Utilities: Display
// ===


// Display
// ---

.u-block {
    display: block;

    @include --small-only {
        &--small-only {
            display: block;
        }
    }

    @include --small-up {
        &--small-up {
            display: block;
        }
    }
}

.u-inline-block {
    display: inline-block;

    @include --small-only {
        &--small-only {
            display: inline-block;
        }
    }

    @include --small-up {
        &--small-up {
            display: inline-block;
        }
    }
}

.u-hide {
    display: none;

    @include --small-only {
        &--small-only {
            display: none;
        }
    }

    @include --small-up {
        &--small-up {
            display: none;
        }
    }
}

.u-clip {
    overflow: hidden;
}


// Full Width
// ---

.u-full-width {
    width: 100%;

    @include --small-only {
        &--small-only {
            width: 100%;
        }
    }

    @include --small-up {
        &--small-up {
            width: 100%;
        }
    }

    @include --medium-up {
        &--medium-up {
            width: 100%;
        }
    }

    @include --large-up {
        &--large-up {
            width: 100%;
        }
    }
}


// Half Width
// ---

.u-half-width {
    width: 50%;

    @include --small-up {
        &--small-up {
            width: 50%;
        }
    }

    @include --medium-up {
        &--medium-up {
            width: 50%;
        }
    }

    @include --large-up {
        &--large-up {
            width: 50%;
        }
    }
}


// Third Width
// ---

.u-third-width {
    width: 33.33%;

    @include --small-up {
        &--small-up {
            width: 33.33%;
        }
    }

    @include --medium-up {
        &--medium-up {
            width: 33.33%;
        }
    }

    @include --large-up {
        &--large-up {
            width: 33.33%;
        }
    }
}


// Quarter Width
// ---

.u-quarter-width {
    width: 25%;

    @include --small-up {
        &--small-up {
            width: 25%;
        }
    }

    @include --medium-up {
        &--medium-up {
            width: 25%;
        }
    }

    @include --large-up {
        &--large-up {
            width: 25%;
        }
    }
}


// Heights
// ---

.u-full-height {
    height: 100%;
}

.u-half-height {
    height: 50%;
}

.u-full-vw {
    width: 100vw;
}

.u-full-vh {
    height: 100vh;
}

.u-min-full-vh {
    min-height: 100vh;
}


// Ratios
// ---

.u-ratio-16x9 {
    padding-bottom: ((9 / 16) * 100%);
}
