// Utilities: Layout
// ---

.u-context {
    position: relative;

    @include --small-up {
        &--small-up {
            position: relative !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            position: relative !important;
        }
    }
}

.u-position {
    position: absolute;

    @include --small-up {
        &--small-up {
            position: absolute !important;
        }
    }

    @include --medium-up {
        &--medium-up {
            position: absolute !important;
        }
    }

    @include --large-up {
        &--large-up {
            position: absolute !important;
        }
    }
}

.u-fixed {
    position: fixed;

    @include --small-up {
        &--small-up {
            position: fixed !important;
        }
    }
}


// Floating
// ---

.u-float-start {
    float: left;
}

.u-float-end {
    float: right;
}


// X & Y Index Positioning
// ---

.u-center {
    @extend %x-center;

    @include --small-up {
        &--small-up {
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    @include --large-up {
        &--large-up {
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}


// X & Y Index Positioning
// ---

.u-t0 {
    top: 0;
}

.u-t-50p {
    top: 50%;
}

.u-l0 {
    left: 0;
}

.u-l-50p {
    left: 50%;
}

.u-b0 {
    bottom: 0;
}

.u-b-50p {
    bottom: 50%;
}

.u-r0 {
    right: 0;
}

.u-r-50p {
    right: 50%;
}


// Z Index Positioning
// ---

.u-z1 {
    z-index: $z1-depth;
}

.u-z2 {
    z-index: $z2-depth;
}

.u-z3 {
    z-index: $z3-depth;
}

.u-z4 {
    z-index: $z4-depth;
}
