// Utilities: margin
// ===

.u-margin {
    margin: $unit !important;

    @include --small-up {
        &--small-up {
            margin: $unit !important;
        }
    }

    &-top {
        margin-top: $unit !important;

        @include --small-up {
            &--small-up {
                margin-top: $unit !important;
            }
        }

        &-huge {
            margin-top: $unit*5 !important;

            @include --small-up {
                &--small-up {
                    margin-top: $unit*5 !important;
                }
            }
        }
    }

    &-bottom {
        margin-bottom: $unit !important;

        @include --small-up {
            &--small-up {
                margin-bottom: $unit !important;
            }
        }

        &-huge {
            margin-bottom: $unit*5 !important;

            @include --small-up {
                &--small-up {
                    margin-bottom: $unit*5 !important;
                }
            }
        }

    }

    &-start {
        margin-left: $unit !important;

        @include --small-up {
            &--small-up {
                margin-left: $unit !important;
            }
        }
    }

    &-end {
        margin-right: $unit !important;

        @include --small-up {
            &--small-up {
                margin-right: $unit !important;
            }
        }
    }

    &-horizontal-fill {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
