// Utilities: padding
// ===

.u-padding {
    padding: $unit !important;

    @include --small-up {
        &--small-up {
            padding: $unit !important;
        }
    }

    &-top {
        padding-top: $unit !important;

        @include --small-up {
            &--small-up {
                padding-top: $unit !important;
            }
        }

        &-huge {
            padding-top: $unit*5 !important;

            @include --small-up {
                &--small-up {
                    padding-top: $unit*5 !important;
                }
            }
        }
    }

    &-bottom {
        padding-bottom: $unit !important;

        @include --small-up {
            &--small-up {
                padding-bottom: $unit !important;
            }
        }

        &-huge {
            padding-bottom: $unit*5 !important;

            @include --small-up {
                &--small-up {
                    padding-bottom: $unit*5 !important;
                }
            }
        }

    }

    &-start {
        padding-left: $unit !important;

        @include --small-up {
            &--small-up {
                padding-left: $unit !important;
            }
        }
    }

    &-end {
        padding-right: $unit !important;

        @include --small-up {
            &--small-up {
                padding-right: $unit !important;
            }
        }
    }
}
