include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'blast-from-our-teenage-pasts.jpg', 
        '', 
        '02 Dec 2015', 
        'Sketch', 
        '',
        'https://youtu.be/FETP27j_cvU')
