// Global Typographic Styles
// ===

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.125;
}

ol,
ul {
    list-style: none;
}

q,
blockquote {
    quotes: none;

    &::before,
    &::after {
        content: '';
    }
}

a {
    color: $pink;
    text-decoration: none;

    &:hover {
        color: darken($pink, 10%);
    }
}

address {
    font-style: normal;
}
