include /includes/components/card

div.u-position.u-z3.u-full-width(style='margin-top:10vw;')
    h1.u-measure-medium.u-padding.u-text-center.u-margin-horizontal-fill.u-pink
        | Bitchpop Productions aims to create, promote, and uplift female-driven film.

div.u-context.u-gradient(style='height:0;padding-bottom:56.25%;background-image:url(assets/img/bg.jpg);background-size:cover;')

div.u-context.u-clip.u-measure-medium.u-margin-horizontal-fill(style='margin-top:-15vw;')
    div.c-text-content.u-padding.u-text-shadow-thick
        p We love Vancouver, it’s our home. But we noticed something was missing, something important: original content created by or featuring women, especially comedy. It’s actually seriously lacking. We’re here to change that. By creating our own films and series, like Almost Actors and SHOTS, we hope to bring a fresh perspective into the comedy world. We’re all about creating interesting characters, funny stories, and unique concepts. We hope you like what you see. Watch our videos →
