include /includes/components/_media

!= partial('/includes/partials/_projectIntro')

section
    +media(
        'song-exercise.jpg',
        'The Song Exercise',
        '26 Mar 2016',
        'Season 2 × Episode 10',
        'It’s the last class of the semester. Each student has prepared a very special song that reflects who they truly are. We’ll miss these aspiring thespians!',
        'https://youtu.be/n0rhjLpVCQU')

    +media(
        'improv-class.jpg',
        'The Improv Class',
        '25 Feb 2016',
        'Season 2 × Episode 9',
        'In Improv Class, we always say, “Yes.” Except when your heart is smashed to a million little pieces. Then it might be okay to say no.',
        'https://youtu.be/LBTeAO90MJM')

    +media(
        'after-school-rehearsal.jpg',
        'The After-School Rehearsal',
        '10 Feb 2016',
        'Season 2 × Episode 8',
        'There’s a standoff happening in class. When two groups of students both lay claim to a rehearsal space, tensions are at an all-time high. Who will get the room? At what cost?',
        'https://youtu.be/GWvah6pulLg')

    +media(
        'emotional-connection.jpg',
        'The Emotional Connection',
        '28 Jan 2016',
        'Season 2 × Episode 7',
        'Box is love. Box is life. In Emotional Connection 202, you will learn how to be one with the box. How to feel it. All of it. It will light up your life.',
        'https://youtu.be/Qur66C-PHng')

    +media(
        'celebrity-guest.jpg',
        'The Celebrity Guest',
        '14 Jan 2016',
        'Season 2 × Episode 6',
        'The students are back from their Winter break, and their coach has a very special alumni interview in store. But when the celebrity guest knows one of the current students, can the interview stay on track?',
        'https://youtu.be/tGdBYiQjwvE')

    +media(
        'voiceover-class.jpg',
        'The Voiceover Class',
        '24 Dec 2015',
        'Season 2 × Episode 5',
        'Merry Christmas! For this holiday season, the students take on Voiceover Class with a famous (kind of) coach. It’s too bad they’re all terrible…',
        'https://youtu.be/c3HBJ2CVJaU')

    +media(
        'chemistry-class.jpg',
        'The Chemistry Class',
        '10 Dec 2015',
        'Season 2 × Episode 4',
        'Welcome to the first Chemistry Class of this semester, where you will learn to make a connection with your partner. The coaches aren’t making the class any less awkward, though…',
        'https://youtu.be/nkUn-eXaQp8')

    +media(
        'movement-class.jpg',
        'The Movement Class',
        '26 Nov 2015',
        'Season 2 × Episode 3',
        'Real actors don’t just act like orchids, they become orchids. In this Movement Class, Coach and her assistant Jewel will help you find your way. But one student seems to already have found hers.',
        'https://youtu.be/K-gIyYCEF3U')

    +media(
        'commercial-audition-class.jpg',
        'The Commercial Audition Class',
        '12 Nov 2015',
        'Season 2 × Episode 2',
        'The students tackle the “art” of commercial auditioning, but with a maybe-he’s-French-maybe-he’s-not coach at the helm, will they learn anything at all?',
        'https://youtu.be/fCIxQjA9uGU')

    +media(
        'first-morning.jpg',
        'The First Morning',
        '29 Oct 2015',
        'Season 2 × Episode 1',
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam,animi necessitatibus tenetur eum,amet distinctio,cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit',
        'https://youtu.be/d3xUB5JJGo4')

    +media(
        'indirector.jpg',
        'The Indirector',
        '28 May 2015',
        'Season 1 × Episode 9',
        'Sometimes the coaches are a little vague. “You want us to do what!?”',
        'https://youtu.be/18hjQV8Jd6M')

    +media(
        'time-waster.jpg',
        'The Time Waster',
        '21 May 2015',
        'Season 1 × Episode 8',
        'In this episode we meet Britney; she is quite the chatter-box, ruining the class for everyone',
        'https://youtu.be/ka-eZ63TjHY')

    +media(
        'inappropriate-partner.jpg',
        'The Inappropriate Partner',
        '14 May 2015',
        'Season 1 × Episode 7',
        'What happens when one scene partner takes the scene in a whole new direction?',
        'https://youtu.be/in5H_smPR8s')

    +media(
        'broadway-baby.jpg',
        'The Broadway Baby',
        '07 May 2015',
        'Season 1 × Episode 6',
        'In this episode, we meet Tony: he is a STAR, and he’s going to make it to Broadway! Maybe.',
        'https://youtu.be/zcEprm6gXE0')

    +media(
        'terrible-introductions.jpg',
        'The Terrible Introductions',
        '30 Apr 2015',
        'Season 1 × Episode 5',
        'In this episode, it looks like everyone is having a really hard time on their first day back in class.',
        'https://youtu.be/SkbuoCVVYV0')

    +media(
        'emotional-wreck.jpg',
        'The Emotional Wreck',
        '09 Apr 2015',
        'Season 1 × Episode 4',
        'Occasionally, aspiring actors will go off book and draw from real life — does it work?',
        'https://youtu.be/DllSq1iUjBA')

    +media(
        'fake-ass-bitch.jpg',
        'The Fake-Ass Bitch',
        '02 Apr 2015',
        'Season 1 × Episode 3',
        'Almost Actors is a comedic web series based on the terrible and often hysterical archetypes you meet in acting school. One of those people is Angelica, a real fake-ass bitch.',
        'https://youtu.be/hSkegrAm87g')

    +media(
        'teachers-favourite.jpg',
        'The Teacher’s Favourite',
        '26 Mar 2015',
        'Season 1 × Episode 2',
        'It seems student Alexa and the coach have some chemistry; maybe too much of it.',
        'https://youtu.be/hFS9W36ceA')

    +media(
        'health-nut.jpg',
        'The Health Nut',
        '19 Mar 2015',
        'Season 1 × Episode 1',
        'In this episode, meet Jesse: she’s really into being healthy!',
        'https://youtu.be/HkCvmjQiwIE')
