include /includes/components/_media

!= partial('/includes/partials/_projectIntro')

section
    +media(
        'condenado-league.jpg', 
        '', 
        '09 Aug 2015', 
        'Short Film', 
        '',
        'https://youtu.be/TeDqgDPFvwI')
