include /includes/components/_media

!= partial('/includes/partials/_projectIntro')

section
    +media(
        'deadbeat-daddies.jpg', 
        '', 
        '16 Apr 2015', 
        'Sketch', 
        '',
        'https://youtu.be/c-Ykse_3Rv8')
