include /includes/components/_media

!= partial('/includes/partials/_projectIntro')

section
    +media(
        'high-five-goodbye.jpg', 
        '', 
        '28 Nov 2016', 
        'Short Film', 
        'High Five Goodbye was originally presented at the Whistler Film Festival as part of their Canon Hi5 Short Film series.',
        'https://youtu.be/X7765DcYqnQ')
