div.u-min-full-vh.u-context.u-flexbox.u-flex-column.u-full-height.u-clip.u-z1

    != partial('includes/partials/_hero')

    div.slider.u-position.u-t-0.u-full-vw.u-z3.u-thick-text-shadow.a-fade-in--mid-forwards
        div.stacks-wrapper.u-full-height
            != partial('/includes/projects/tea-time/_root')
            != partial('/includes/projects/almost-actors/_root')
            != partial('/includes/projects/shots/_root')

script(src='assets/js/main.js')
