include /includes/components/card

div.u-fixed.u-t-0.u-r-0.u-l-0.u-full-vh
    div.u-context.u-gradient(style='height:0;padding-bottom:56.25%;background-image:url(assets/img/bg.jpg);background-size:cover;')
        div#muteYouTubeVideoPlayer.u-position.u-t-0.u-r-0.u-l-0.u-b-0.u-full-width.u-full-height
        script(async='', src='https://www.youtube.com/iframe_api')
        script.
            function onYouTubeIframeAPIReady() {
                var player;
                player = new YT.Player('muteYouTubeVideoPlayer', {
                    videoId: 'T1nAFmd5iQA', // YouTube Video ID
                    width: 640,             // Player width (in px)
                    height: 360,            // Player height (in px)
                    playerVars: {
                        autoplay: 1,        // Auto-play the video on load
                        controls: 0,        // Show pause/play buttons in player
                        showinfo: 0,        // Hide the video title
                        modestbranding: 1,  // Hide the Youtube Logo
                        loop: 1,            // Run the video in a loop
                        fs: 0,              // Hide the full screen button
                        cc_load_policy: 0,  // Hide closed captions
                        iv_load_policy: 3,  // Hide the Video Annotations
                        autohide: 1,        // Hide video controls when playing
                        playlist: 'T1nAFmd5iQA'
                    },
                    events: {
                        onReady: function(e) {
                            e.target.mute();
                        }
                    }
                });
            }

div.u-clip(style='padding-top:30vw;')

    +card(
        'Tea Time With T & A',
        'Talk Show • Comedy',
        'assets/img/poster--tea-time-with-t-a.jpg',
        '/tea-time-with-t-a')

    +card(
        'High Five Goodbye',
        'Short Film • Comedy',
        'assets/img/poster--high-five-goodbye.jpg',
        '/high-five-goodbye')

    +card(
        'The Meltdown',
        'Short Film • Drama/Comedy',
        'assets/img/poster--meltdown.jpg',
        '/meltdown')

    +card(
        'Almost Actors',
        'Series • Comedy',
        'assets/img/poster--almost-actors.jpg',
        '/almost-actors')

    +card(
        'The Ex You Can’t Escape',
        'Series • Comedy',
        'assets/img/poster--ex-you-cant-escape.jpg')

    +card(
        'The Condenado League',
        'Short Film • Comedy',
        'assets/img/poster--condenado-league.jpg')

    +card(
        'A Blast from Our Teenage Pasts',
        'Sketch • Comedy',
        'assets/img/poster--blast-from-out-teenage-pasts.jpg')

    +card(
        'Friend Anxiety',
        'Sketch • Comedy',
        'assets/img/poster--friend-anxiety.jpg')

    +card(
        'Lactivia',
        'Sketch • Comedy',
        'assets/img/poster--lactivia.jpg')

    +card(
        'Deadbeat Daddies',
        'Sketch • Comedy',
        'assets/img/poster--deadbeat-daddies.jpg')
