include /includes/components/_card

section
    h1.u-text-clip #{description}
    div.u-context.u-pattern.u-gradient.u-bg-cover.u-ratio-16x9(style='background-image:url("/assets/img/bg.jpg");')
        div#muteYouTubeVideoPlayer.u-position.u-t0.u-r0.u-l0.u-b0.u-full-width.u-full-height
        script(async='', defer='defer', src='https://www.youtube.com/iframe_api')
        script.
            function onYouTubeIframeAPIReady(){var a;a=new YT.Player("muteYouTubeVideoPlayer",{videoId:"T1nAFmd5iQA",width:640,height:360,playerVars:{autoplay:1,controls:0,showinfo:0,modestbranding:1,loop:1,fs:0,cc_load_policy:0,iv_load_policy:3,autohide:1,playlist:"T1nAFmd5iQA"},events:{onReady:function(a){a.target.mute()}}})}

section.u-clip.t-home__media
    h2.u-text-clip Watch comedy and film from the women at Bitchpop Productions

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'Tea Time With T&A',
            'Series • Comedy',
            '/assets/img/tea-time-with-t-a/--thumb.jpg',
            '/tea-time-with-t-a')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'In Heat',
            'Sketch • Comedy',
            '/assets/img/in-heat/--thumb.jpg',
            '/in-heat')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'I Dunno, Probably',
            'Sketch • Comedy',
            '/assets/img/i-dunno-probably/--thumb.jpg',
            '/i-dunno-probably')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'High Five Goodbye',
            'Short Film • Comedy',
            '/assets/img/high-five-goodbye/--thumb.jpg',
            '/high-five-goodbye')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'The Meltdown',
            'Short Film • Drama/Comedy',
            '/assets/img/meltdown/--thumb.jpg',
            '/meltdown')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'Almost Actors',
            'Series • Comedy',
            '/assets/img/almost-actors/--thumb.jpg',
            '/almost-actors')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'The Ex You Can’t Escape',
            'Series • Comedy',
            '/assets/img/ex-you-cant-escape/--thumb.jpg',
            '/ex-you-cant-escape')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'The Condenado League',
            'Short Film • Comedy',
            '/assets/img/condenado-league/--thumb.jpg',
            '/condenado-league')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'A Blast from Our Teenage Pasts',
            'Sketch • Comedy',
            '/assets/img/blast-from-our-teenage-pasts/--thumb.jpg',
            '/blast-from-our-teenage-pasts')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'Friend Anxiety',
            'Sketch • Comedy',
            '/assets/img/friend-anxiety/--thumb.jpg',
            '/friend-anxiety')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'Lactivia',
            'Sketch • Comedy',
            '/assets/img/lactivia/--thumb.jpg',
            '/lactivia')

    div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
        +card(
            'Deadbeat Daddies',
            'Sketch • Comedy',
            '/assets/img/deadbeat-daddies/--thumb.jpg',
            '/deadbeat-daddies')
