include /includes/components/_card

section.u-context.u-pattern.u-gradient.u-padding-top-huge--small-up

    h1.u-text-center.u-padding-top-huge.u-padding-bottom-huge #{title}
    
    div.c-text-content.u-context.u-z1.u-measure-medium.u-margin-horizontal-fill.u-padding
        p Since Bitchpop’s inception, we have been fortunate enough to meet so many inspirational and intelligent people with creative ideas left and right. But so often do these ideas get lost due to limited time, resources, or knowledge. We want to help you get your idea off the ground and into production!
        p Starting in 2017, Bitchpop Productions is opening its doors to you: send us your script, your idea, or your concept and we’ll review it with you. We’ll work with you as producers and help get your idea executed by showing you how to get financing, where to find a cast and crew, and how to get started bringing it to life.
        p Stay tuned!
