include /includes/components/_card

section.u-context.u-pattern.u-gradient.u-padding-top-huge--small-up

    h1.u-text-center.u-padding-top-huge.u-padding-bottom-huge #{title}
    
    div.c-text-content.u-measure-medium.u-margin-horizontal-fill.u-context.u-z1
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quia odit autem expedita tenetur nostrum animi, dolores. Autem ab voluptatibus, nobis soluta impedit, corporis similique rerum commodi tempora temporibus. Soluta?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quia odit autem expedita tenetur nostrum animi, dolores. Autem ab voluptatibus, nobis soluta impedit, corporis similique rerum commodi tempora temporibus. Soluta?
