// Header Template-Specific
// ===

.t-header__logo {
    @include --medium-only {
        display: none;
    }

    svg {
        width: $unit * 12.5;
        height: $unit * 3.125;

        transition: all 0.25s ease-out;
    }
}
