include /includes/components/media

div.stack.u-full-height.u-text-center

    h2.stack-title.u-context.u-inline-block.u-bold.u-text-center
        a.u-context.u-full-width.u-block(href='#', data-text='Tea Time With T & A')
            span.u-block Tea Time With T & A

    +media(
        'assets/img/tea-time/brady-roberts.jpg', 
        'Brady Roberts', 
        '19 Jan 2016', 
        'Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/tea-time/gigi-saul-guerrero.jpg', 
        'Gigi Saul Guerrero', 
        '14 Aug 2015', 
        'Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/tea-time/catherine-lough-haggquist.jpg', 
        'Catherine Lough Haggquist', 
        '25 June 2015', 
        'Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')
