include /includes/components/media

div.stack.u-full-height.u-text-center

    h2.stack-title.u-context.u-inline-block.u-bold.u-text-center
        a.u-context.u-full-width.u-block(href='#', data-text='Almost Actors')
            span.u-block Almost Actors

    +media(
        'http://placehold.it/1920x1080', 
        'The Song Exercise', 
        '26 Mar 2015', 
        'Season 2 × Episode 10', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Improv Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 9', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The After-School Rehearsal', 
        '26 Mar 2015', 
        'Season 2 × Episode 8', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Emotional Connection', 
        '26 Mar 2015', 
        'Season 2 × Episode 7', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Celebrity Guest', 
        '26 Mar 2015', 
        'Season 2 × Episode 6', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Voiceover Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 5', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Chemistry Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 4', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/movement-class.jpg', 
        'The Movement Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/commercial-audition-class.jpg', 
        'The Commercial Audition Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/first-morning.jpg', 
        'The First Morning', 
        '26 Mar 2015', 
        'Season 2 × Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/indirector.jpg', 
        'The Indirector', 
        '26 Mar 2015', 
        'Season 1 × Episode 9', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/time-waster.jpg', 
        'The Time Waster', 
        '26 Mar 2015', 
        'Season 1 × Episode 8', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/inappropriate-partner.jpg', 
        'The Inappropriate Partner', 
        '26 Mar 2015', 
        'Season 1 × Episode 7', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/broadway-baby.jpg', 
        'The Broadway Baby', 
        '26 Mar 2015', 
        'Season 1 × Episode 6', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/terrible-introductions.jpg', 
        'The Terrible Introductions', 
        '26 Mar 2015', 
        'Season 1 × Episode 5', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/emotional-wreck.jpg', 
        'The Emotional Wreck', 
        '26 Mar 2015', 
        'Season 1 × Episode 4', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/fake-ass-bitch.jpg', 
        'The Fake-Ass Bitch', 
        '26 Mar 2015', 
        'Season 1 × Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/teachers-favourite.jpg', 
        'The Teacher’s Favourite', 
        '26 Mar 2015', 
        'Season 1 × Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/health-nut.jpg', 
        'The Health Nut', 
        '26 Mar 2015', 
        'Season 1 × Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')
