include /includes/components/media

section.u-padding
    div.u-measure-medium.u-padding-top.u-margin-horizontal-fill.u-flexbox.u-flex-column--small-only

        div.u-margin-bottom.u-flex-shrink.u-full-width.u-margin-end--small-up
            img.u-block.u-margin-horizontal-fill(src='assets/img/almost-actors/poster.jpg', style='max-width:15rem;')

        div.c-text-content.u-margin-bottom.u-flex
            h1.u-text-size-very-large.u-margin-bottom Almost Actors
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatibus quibusdam, ut, neque, nostrum modi eos, nihil ipsam nobis aspernatur sapiente veritatis aut! Aspernatur placeat, velit voluptates ipsa earum dolorem.
            hr
            ul
                li #[strong Written By] — Tiarra Sulyk, Athena Russell, & Jessica McLeod
                li #[strong Directed By] — Various by episode
                li #[strong Starring] — Athena Russell, Tiarra Sulyk, Ben Groulx, Meaghan Hommy, Jessica McLeod, Cody Wilson, Robyn Westcott, Mark Anthony Parinas, Matt Mazur, Julian LeBlanc, Nicholas Carella
            hr
            ul
                li → #[a(href='#') Explore on IMDB]
                li → #[a(href='#') Watch on YouTube] 

section
    +media(
        'http://placehold.it/1920x1080', 
        'The Song Exercise', 
        '26 Mar 2015', 
        'Season 2 × Episode 10', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Improv Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 9', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The After-School Rehearsal', 
        '26 Mar 2015', 
        'Season 2 × Episode 8', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Emotional Connection', 
        '26 Mar 2015', 
        'Season 2 × Episode 7', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Celebrity Guest', 
        '26 Mar 2015', 
        'Season 2 × Episode 6', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Voiceover Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 5', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'http://placehold.it/1920x1080', 
        'The Chemistry Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 4', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/movement-class.jpg', 
        'The Movement Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/commercial-audition-class.jpg', 
        'The Commercial Audition Class', 
        '26 Mar 2015', 
        'Season 2 × Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/first-morning.jpg', 
        'The First Morning', 
        '26 Mar 2015', 
        'Season 2 × Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/indirector.jpg', 
        'The Indirector', 
        '26 Mar 2015', 
        'Season 1 × Episode 9', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/time-waster.jpg', 
        'The Time Waster', 
        '26 Mar 2015', 
        'Season 1 × Episode 8', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/inappropriate-partner.jpg', 
        'The Inappropriate Partner', 
        '26 Mar 2015', 
        'Season 1 × Episode 7', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/broadway-baby.jpg', 
        'The Broadway Baby', 
        '26 Mar 2015', 
        'Season 1 × Episode 6', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/terrible-introductions.jpg', 
        'The Terrible Introductions', 
        '26 Mar 2015', 
        'Season 1 × Episode 5', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/emotional-wreck.jpg', 
        'The Emotional Wreck', 
        '26 Mar 2015', 
        'Season 1 × Episode 4', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/fake-ass-bitch.jpg', 
        'The Fake-Ass Bitch', 
        '26 Mar 2015', 
        'Season 1 × Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/teachers-favourite.jpg', 
        'The Teacher’s Favourite', 
        '26 Mar 2015', 
        'Season 1 × Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')

    +media(
        'assets/img/almost-actors/health-nut.jpg', 
        'The Health Nut', 
        '26 Mar 2015', 
        'Season 1 × Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit')
