include /includes/components/_card

section.u-context.u-pattern.u-gradient.u-padding-top-huge--small-up

    h1.u-text-center.u-padding-top-huge.u-padding-bottom-huge #{title}

    div.u-clip

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Young actor hopes to break gender stereotypes',
                'Goldstream Gazette • 19 Dec 2016',
                'http://media.bclocalnews.com/images/9301goldstreamGNG-AthenaRussell2.jpg',
                'http://goldstreamgazette.com/entertainment/407517006.html')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Exclusive – High-Five Goodbye',
                'Hollywood North Magazine • 25 Nov 2016',
                'http://hnmag.ca/wp-content/uploads/2016/11/hfg-1024x649.png',
                'http://hnmag.ca/interview/exclusive-high-five-goodbye/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Endeavours 009 – Bitchpop Productions, Jake Bugg, Anosh Irani',
                'Endeavours Podcast • 07 Oct 2016',
                'http://endeavoursmedia.com/wp-content/themes/soundbyte-progression/images/page-title.jpg',
                'http://endeavoursmedia.com/2016/10/07/endeavours-009-bitchpop-productions-jake-bugg-anosh-irani/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Winner: Best Film, Best Cinematography, and more (Run & Gun Festival 2016)',
                'Run & Gun Festival • 29 Aug 2016',
                '/assets/img/meltdown/--thumb.jpg',
                'https://facebook.com/B.TCHPOPproductions/photos/a.1588627224687742.1073741828.1587770044773460/1764008590482937/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'What’s It Like To Be A Screenwriter?',
                'Millennial Mingle • 19 Jul 2016',
                'https://i2.wp.com/millennialmingle.com/wp-content/uploads/2016/07/Joel-Brewster.jpg',
                'http://millennialmingle.com/what-is-it-like-to-be-a-screenwriter/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'The Biz Interview: Bitchpop Productions',
                'Biz Books • 09 Nov 2015',
                'http://bizbooks.net/wp-content/uploads/2015/11/bitchpop-interview-biz-books.jpg',
                'http://bizbooks.net/blog/the-biz-interview-bitchpop-productions')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Winner: Best Screenplay, (Run & Gun Festival 2015)',
                'Run & Gun Festival • 8 Aug 2015',
                'https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/11863263_1643707409179723_9130437150143356840_n.jpg?oh=0eadd9d097da7410eca39244fc517eaf&oe=58D96C9D',
                'hhttps://facebook.com/B.TCHPOPproductions/photos/pb.1587770044773460.-2207520000.1439261967./1643707409179723/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Almost Actors: Bringing Female-Driven Comedy to the Forefront',
                'Permanent Rain Press • 23 May 2015',
                'http://68.media.tumblr.com/a95fa6c1ef09c42b15184398839d9be2/tumblr_inline_nodsozH6hi1r8j0uv_500.jpg',
                'http://thepermanentrainpress.com/post/119708986805/almost-actors-interview')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Sea to Sky actors are doing it for themselves',
                'Pique Newsmagazine • 07 May 2015',
                'http://media2.fdncms.com/pique/imager/health-nut-almost-actors-is-a-new-w/u/specialstory/2646971/arts_arts1.jpg',
                'http://piquenewsmagazine.com/whistler/sea-to-sky-actors-are-doing-it-for-themselves/Content?oid=2646970')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Claremont grad is famous — almost',
                'Times Columnist • 14 Apr 2015',
                'http://images.glaciermedia.ca/polopoly_fs/1.1822715.1429010241!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/d4-0414-jessica-mcleod-jpg.jpg',
                'http://timescolonist.com/entertainment/claremont-grad-is-famous-almost-1.1822713')
