include /includes/components/_card

section.u-context.u-pattern.u-gradient.u-padding-top-huge--small-up

    h1.u-text-center.u-padding-top-huge.u-padding-bottom-huge #{title}

    div.u-clip

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Young actor hopes to break gender stereotypes',
                'Goldstream Gazette • 19 Dec 2016',
                '/assets/img/bg-geometry.png',
                'http://goldstreamgazette.com/entertainment/407517006.html')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Exclusive – High-Five Goodbye',
                'Hollywood North Magazine • 25 Nov 2016',
                '/assets/img/bg-geometry.png',
                'http://hnmag.ca/interview/exclusive-high-five-goodbye/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Endeavours 009 – Bitchpop Productions, Jake Bugg, Anosh Irani',
                'Endeavours Podcast • 07 Oct 2016',
                '/assets/img/bg-geometry.png',
                'http://endeavoursmedia.com/2016/10/07/endeavours-009-bitchpop-productions-jake-bugg-anosh-irani/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Winner: Best Film, Best Cinematography, and more (Run & Gun Festival 2016)',
                'Run & Gun Festival • 29 Aug 2016',
                '/assets/img/bg-geometry.png',
                'https://facebook.com/B.TCHPOPproductions/photos/a.1588627224687742.1073741828.1587770044773460/1764008590482937/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'What’s It Like To Be A Screenwriter?',
                'Millennial Mingle • 19 Jul 2016',
                '/assets/img/bg-geometry.png',
                'http://millennialmingle.com/what-is-it-like-to-be-a-screenwriter/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'The Biz Interview: Bitchpop Productions',
                'Biz Books • 09 Nov 2015',
                '/assets/img/bg-geometry.png',
                'http://bizbooks.net/blog/the-biz-interview-bitchpop-productions')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Winner: Best Screenplay, (Run & Gun Festival 2015)',
                'Run & Gun Festival • 8 Aug 2015',
                '/assets/img/bg-geometry.png',
                'hhttps://facebook.com/B.TCHPOPproductions/photos/pb.1587770044773460.-2207520000.1439261967./1643707409179723/')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Almost Actors: Bringing Female-Driven Comedy to the Forefront',
                'Permanent Rain Press • 23 May 2015',
                '/assets/img/bg-geometry.png',
                'http://thepermanentrainpress.com/post/119708986805/almost-actors-interview')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Sea to Sky actors are doing it for themselves',
                'Pique Newsmagazine • 07 May 2015',
                '/assets/img/bg-geometry.png',
                'http://piquenewsmagazine.com/whistler/sea-to-sky-actors-are-doing-it-for-themselves/Content?oid=2646970')

        div.u-full-width.u-half-width--small-up.u-third-width--medium-up.u-quarter-width--large-up.u-float-start.u-padding-start.u-padding-end.u-padding-bottom.u-padding-top--small-up
            +card(
                'Claremont grad is famous — almost',
                'Times Columnist • 14 Apr 2015',
                '/assets/img/bg-geometry.png',
                'http://timescolonist.com/entertainment/claremont-grad-is-famous-almost-1.1822713')
