include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'friend-anxiety.jpg', 
        '', 
        '08 Jul 2015', 
        'Sketch', 
        '',
        'https://youtu.be/mg5D1akqfJE')
