include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'emily-tennant.jpg', 
        'Emily Tennant', 
        '21 Dec 2016', 
        'Episode 6', 
        'This episode of Tea Time With T & A features Emily Tennant, a Vancouver-based actress. Follow her on www.instagram.com/emilyjtennant and www.twitter.com/emilyjtennant.',
        'https://youtu.be/AZCY1Oq6NrE')

    +media(
        'lee-shorten.jpg', 
        'Lee Shorten', 
        '07 Jul 2016', 
        'Episode 5', 
        'This episode of Tea Time With T & A features Lee Shorten, a successful Australian lawyer-turned-actor. #welovelee. Follow him on Twitter at www.twitter.com/lcshorten.',
        'https://youtu.be/B8jv_XITs-M')

    +media(
        'joel-mccarthy-mike-doaga.jpg', 
        'Joel McCarthy & Mike Doaga', 
        '10 Mar 2016', 
        'Episode 4', 
        'This episode of Tea Time With T & A features Joel Ashton McCarthy and Mike Doaga, creators of the web series Average Dicks. Everyone drinks a little too much “red tea” and… well… it makes for a very silly interview.',
        'https://youtu.be/Hhd0nrJHNJo')

    +media(
        'brady-roberts.jpg', 
        'Brady Roberts', 
        '19 Jan 2016', 
        'Episode 3', 
        'This episode of Tea Time With T & A features Brady Roberts, actor, personal trainer to the stars of the CW, and the star of the new fan-made short film Nightwing: The Darkest Knight.',
        'https://youtu.be/rsZT3RSzdI4')

    +media(
        'gigi-saul-guerrero.jpg', 
        'Gigi Saul Guerrero', 
        '14 Aug 2015', 
        'Episode 2', 
        'This episode of Tea Time With T & A features Gigi Saul Guerrero, Vancouver-based filmmaker and creator of Luchagore Productions — she scary, yo!',
        'https://youtu.be/lR1s-lQsurA')

    +media(
        'catherine-lough-haggquist.jpg', 
        'Catherine Lough Haggquist', 
        '25 June 2015', 
        'Episode 1', 
        'This episode of Tea Time With T & A features Catherine Lough Haggquist, Biz Books founder, actor,and businesswoman extraordinaire.',
        'https://youtu.be/f-w7bQ4VhXY')
