include /includes/components/_media

!= partial('../includes/partials/_projectIntro')

section
    +media(
        'emily-tennant.jpg', 
        'Emily Tennant', 
        '21 Dec 2016', 
        'Episode 6', 
        'This episode of Tea Time With T & A features Emily Tennant, a Vancouver-based actress. Follow her on www.instagram.com/emilyjtennant/ and www.twitter.com/emilyjtennant.',
        'https://youtu.be/AZCY1Oq6NrE')

    +media(
        'lee-shorten.jpg', 
        'Lee Shorten', 
        '07 Jul 2016', 
        'Episode 5', 
        'This episode of Tea Time With T & A features Lee Shorten, a successful Australian lawyer-turned-actor. #welovelee. Follow him on Twitter at www.twitter.com/lcshorten.',
        'https://youtu.be/B8jv_XITs-M')

    +media(
        'joel-mccarthy-mike-doaga.jpg', 
        'Joel McCarthy & Mike Doaga', 
        '10 Mar 2016', 
        'Episode 4', 
        'This episode of Tea Time With T & A features Joel Ashton McCarthy and Mike Doaga, creators of the web series Average Dicks. Everyone drinks a little too much “red tea” and… well… it makes for a very silly interview.',
        'https://youtu.be/Hhd0nrJHNJo')

    +media(
        'brady-roberts.jpg', 
        'Brady Roberts', 
        '19 Jan 2016', 
        'Episode 3', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit',
        '#')

    +media(
        'gigi-saul-guerrero.jpg', 
        'Gigi Saul Guerrero', 
        '14 Aug 2015', 
        'Episode 2', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit',
        '#')

    +media(
        'catherine-lough-haggquist.jpg', 
        'Catherine Lough Haggquist', 
        '25 June 2015', 
        'Episode 1', 
        'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quam, animi necessitatibus tenetur eum, amet distinctio, cumque delectus quia debitis quis voluptates ea consequuntur accusamus tempore repellat recusandae quas odit',
        '#')
